[submodule "firmware/iot-risk-logger-stm32l4/libraries/doxygen-awesome-css"]
	path = firmware/iot-risk-logger-stm32l4/libraries/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "firmware/iot-risk-logger-stm32l4/libraries/SystemView"]
	path = firmware/iot-risk-logger-stm32l4/libraries/SystemView
	url = https://github.com/SEGGERMicro/SystemView
[submodule "firmware/iot-risk-logger-stm32l4/libraries/RTT"]
	path = firmware/iot-risk-logger-stm32l4/libraries/RTT
	url = https://github.com/SEGGERMicro/RTT
